<form [formGroup]="service.formPV" autocomplete="off" (submit)="onSubmit(service.formPV)">
    <mat-card class="example-card content">
        <mat-card-header>
            <mat-card-title>PAYABLE VOUCHER</mat-card-title>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                <a color="primary" mat-stroked-button (click)="onPrintDoc(service.formPV)">
                    <!--*ngIf="service.formPV.get('Status').value && !service.formPV.get('IsPrinted').value" -->
                    <mat-icon>print</mat-icon> Document
                </a>
                <a color="primary" mat-stroked-button (click)="onPrintLedger(service.formPV)">
                    <mat-icon>print</mat-icon> Ledger
                </a>
                <a color="accent" mat-stroked-button (click)="onClose()">
                    <mat-icon>close</mat-icon>
                </a>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="content" mat-dialog-content>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
                    <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
                        <mat-form-field>
                            <input formControlName="PayableVoucherID" matInput placeholder="ID" readonly>
                            <!-- <a matSuffix mat-stroked-button color="primary" (click)="onGenerateID()">
                                <mat-icon>loupe</mat-icon>
                            </a> -->
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
                        <mat-form-field>
                            <mat-label>Date Entry</mat-label>
                            <input matInput formControlName="PayableVoucherDate" placeholder="MM/DD/YYYY"
                                [matDatepicker]="PayableVoucherDate">
                            <mat-datepicker-toggle matSuffix [for]="PayableVoucherDate"></mat-datepicker-toggle>
                            <mat-datepicker #PayableVoucherDate></mat-datepicker>
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
                    <div fxFlex="60" fxLayout="column" fxLayoutAlign>
                        <mat-form-field>
                            <input type="hidden" formControlName="PayToID">
                            <input type="hidden" formControlName="PayToTypeID">
                            <!-- <mat-placeholder>Payable to</mat-placeholder> -->
                            <input formControlName="PayTo" matInput placeholder="Payable to" readonly>
                            <a matSuffix mat-stroked-button color="primary" (click)="onSelectDeliveredTo()"
                                title="Payable To">
                                <mat-icon>person</mat-icon>
                            </a>
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign>
                        <mat-form-field class="example-full-width">
                            <mat-label>P.O Reference #</mat-label>
                            <input formControlName="POReference" matInput placeholder="Purchase Order Number">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign>
                        <mat-form-field class="example-full-width">
                            <mat-label>Reference #</mat-label>
                            <input formControlName="Reference" matInput placeholder="Reference # Number"
                                (blur)="onBlurAutoComplete($event.target.value)">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between">
                    <mat-form-field>
                        <mat-label>Remarks</mat-label>
                        <textarea formControlName="Remarks" rows="0" matInput
                            placeholder="Ex. Enter your remarks here...."></textarea>
                        <mat-error>This field is mandatory.</mat-error>
                    </mat-form-field>
                </div>


                <div class="pt-20"></div>
                <!-- order items table -->
                <div class="scroll-y">
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div fxFlex="35" fxLayout="column" fxLayoutAlign="space-between">Account Title</div>
                            <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between">Cost Unit</div>
                            <div fxFlex="12.5" fxLayout="column" fxLayoutAlign="space-between">Debit</div>
                            <div fxFlex="12.5" fxLayout="column" fxLayoutAlign="space-between">Credit</div>
                            <div fxFlex="5" fxLayout="column" fxLayoutAlign="space-between end">
                                <a mat-raised-button color="primary" (click)="AddorEditOrderItem()">
                                    <mat-icon>add</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div fxLayoutAlign="center" *ngIf="service.formPV.get('items')['length'] == 0"
                        [class.text-danger]="service.formPV.get('items')['length']==0">
                        <div fxLayout="column">
                            <i>No details for this transaction.</i>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-between" formArrayName="items"
                        *ngFor="let item of service.formPV.get('items')['controls']; let i=index;">
                        <div [formGroupName]="i">
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <div fxFlex="35" fxLayout="column" fxLayoutAlign="space-between">
                                    <mat-form-field>
                                        <input type="hidden" formControlName="AccountTitleID">
                                        <input formControlName="AccountTitle" matInput readonly>
                                        <a matSuffix mat-button color="accent" (click)="onSelectAccountID(item,i)"
                                            title="Account Title">
                                            <mat-icon>format_list_numbered</mat-icon>
                                        </a>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-betwee">
                                    <mat-form-field>
                                        <input type="hidden" formControlName="CostUnitID" id="CostUnitID{{i}}">
                                        <input type="hidden" formControlName="EmployeeID" id="EmployeeID{{i}}">
                                        <input formControlName="CostUnit" matInput id="CostUnit{{i}}" readonly>
                                        <a matSuffix mat-button color="accent" (click)="onSelectCostUnit(item,i)"
                                            title="Account Title">
                                            <mat-icon>contacts</mat-icon>
                                        </a>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="12.5" fxLayout="column" fxLayoutAlign="space-between">
                                    <mat-form-field>
                                        <input matInput formControlName="Debit" type="number"
                                            (keyup)="updateTotal(item,i)" id="Debit{{i}}">
                                        <mat-error>This field is mandatory.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="12.5" fxLayout="column" fxLayoutAlign="space-between">
                                    <mat-form-field>
                                        <input matInput formControlName="Credit" type="number"
                                            (keyup)="updateTotal(item,i)" id="Credit{{i}}">
                                        <mat-error>This field is mandatory.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
                                    <a mat-icon-button color="warn"
                                        (click)="ondeleteOrderItem(item.get('PayableVoucherDetailID').value,i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-20"></div>
                <div fxLayout="row wrap" fxflex="100" fxLayoutAlign="space-between">
                    <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-between">
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end">
                            <mat-form-field>
                                <mat-label>Debit</mat-label>
                                <input formControlName="Debit" matInput placeholder="Debit" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end">
                            <mat-form-field>
                                <mat-label>Credit</mat-label>
                                <input formControlName="Credit" matInput placeholder="Credit" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-end">
                <button type="submit" color="primary" mat-raised-button
                    *ngIf="globalService.Save && service.formPV.get('Status').value == '-1'"
                    [disabled]="service.formPV.invalid || service.formPV.get('items')['length']==0">
                    <mat-icon>storage</mat-icon> Submit
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>