<form [formGroup]="service.formDV" autocomplete="off">
    <mat-card class="example-card content">
        <mat-card-header>
            <mat-card-title>VOUCHER PAYMENT</mat-card-title>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                <a color="primary" mat-stroked-button>
                    <mat-icon>print</mat-icon>
                </a>
                <a class="btn-dialog-close" mat-stroked-button [mat-dialog-close] tabIndex="-1">
                    <mat-icon>clear</mat-icon>
                </a>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="content" mat-dialog-content>
                <fieldset>
                    <legend>Check Voucher:</legend>
                    <div class="">
                        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                            <div fxFlex="65" fxLayout="column" fxLayoutAlign="space-between">
                                <mat-form-field>
                                    <input formControlName="Supplier" matInput placeholder="Supplier" readonly>
                                </mat-form-field>
                            </div>
                            <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                                <mat-form-field>
                                    <input formControlName="DisbursementID" matInput placeholder="Transaction ID"
                                        readonly>
                                </mat-form-field>
                            </div>
                            <div fxFlex="15" fxLayout="column" fxLayoutAlign="space-between">
                                <mat-form-field>
                                    <mat-label>Date</mat-label>
                                    <input formControlName="DisbursementDate" matInput readonly
                                        [matDatepicker]="DisbursementDate">
                                    <mat-datepicker #DisbursementDate></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="pt-20"></div>
                        <!-- order items table -->
                        <div>

                            <div fxLayout="column" fxLayoutAlign="space-between">
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between"><strong>Account
                                            Title</strong> </div>
                                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                                        <strong>Debit</strong>
                                    </div>
                                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                                        <strong>Credit</strong>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <div fxLayout="column" fxLayoutAlign="space-between" formArrayName="voucherDetails"
                                    *ngFor="let item of service.formDV.get('voucherDetails')['controls']; let i=index;">
                                    <div [formGroupName]="i">
                                        <div fxLayout="row" fxLayoutAlign="space-between">
                                            <div fxFlex="60" fxLayout="column" fxLayoutAlign="space-between">
                                                <span>{{item.value.AccountTitle}}</span>
                                            </div>
                                            <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-betwee">
                                                <span>{{item.value.Debit | number: '.2'}}</span>
                                            </div>
                                            <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                                                <span>{{item.value.Credit | number: '.2'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-20"></div>
                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
                            <mat-form-field>
                                <textarea rows="2" formControlName="Remarks" matInput placeholder="Remarks"
                                    readonly></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
                            <span>Funded By: Dayrelle S. Servidad</span>
                        </div>
                        <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
                            <span>Check & Reviewed By: Dayrelle S. Servidad</span>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Check:</legend>
                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-between">
                            <span></span>
                        </div>
                        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                            <span>**** {{service.formDV.value.DisbursementDate | date:'shortDate'}} ****</span>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-between">
                            <span>**** {{service.formDV.value.Supplier}} ****</span>
                        </div>
                        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                            <span>**** {{service.formDV.value.TotalPayment}} ****</span>
                        </div>
                    </div>

                    <div class="pt-20"></div>

                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
                            <span>**** {{globalService.toWords(service.formDV.value.TotalPayment)}} ****</span>
                        </div>
                    </div>

                    <div class="pt-20"></div>

                    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                        <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-between">
                            <mat-form-field>
                                <input formControlName="BankName" matInput placeholder="Bank Name" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between">
                            <mat-form-field>
                                <input formControlName="CheckNo" matInput placeholder="Check No" readonly>
                            </mat-form-field>
                        </div>
                    </div>



                </fieldset>
            </div>
        </mat-card-content>
    </mat-card>
</form>