<h3>INVOICE FORMAT</h3>
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
    <div fxFlex="10" fxLayout="column">
        <button mat-raised-button (click)="onAdd()">
            <mat-icon>add</mat-icon>Add New
        </button>
    </div>
    <div fxFlex="1"></div>
    <div fxFlex="88" fxLayout="column">
        <mat-form-field floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="InvoiceFormatID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element" width = "18%">{{element.InvoiceFormatID}}</td>
        </ng-container>
        <ng-container matColumnDef="descriptions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descriptions</th>
            <td mat-cell *matCellDef="let element" width = "18%">{{element.descriptions}}</td>
        </ng-container>
        <ng-container matColumnDef="Lines">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lines</th>
            <td mat-cell *matCellDef="let element" width = "18%">{{element.Lines}}</td>
        </ng-container>
        <ng-container matColumnDef="TransactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type</th>
            <td mat-cell *matCellDef="let element" width = "18%">{{element.TransactionType}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element" width = "18%">
                <mat-icon color="primary" *ngIf="element.Status"> check </mat-icon>
                <mat-icon color="warn" *ngIf="!element.Status"> clear </mat-icon>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row.InvoiceFormatID)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.InvoiceFormatID)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="loading">
            <th mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </th>
        </ng-container>
        <ng-container matColumnDef="noData">
            <th mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
