<form [formGroup]="service.formOD" autocomplete="off" (submit)="onSubmit(service.formOD)">
    <mat-card class="example-card content">
        <mat-card-header>
            <mat-card-title>OTHER DISBURSEMENT</mat-card-title>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="10px">
                <!-- <a color="primary" mat-stroked-button (click)="onPrintDoc(service.formOD)" *ngIf="globalService.Print && service.formOD.get('Status').value == 1 && service.formOD.get('IsPrinted').value == 0">
                    <mat-icon>print</mat-icon> Document
                </a> -->
                <a color="primary" mat-stroked-button (click)="onPrintVoucher(service.formOD)"
                    *ngIf="globalService.Print && service.formOD.get('Status').value == 1">
                    <mat-icon>print</mat-icon> Voucher
                </a>
                <a color="primary" mat-stroked-button (click)="onPrintLedger(service.formOD)"
                    *ngIf="globalService.Print && service.formOD.get('Status').value == 1">
                    <mat-icon>print</mat-icon> Ledger
                </a>
                <a mat-stroked-button (click)="onClose()">
                    <mat-icon>close</mat-icon>
                </a>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="content" mat-dialog-content>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
                    <div fxFlex="25" fxLayout="column" fxLayoutAlign="space-between">
                        <mat-form-field>
                            <input formControlName="OtherDisbursementID" matInput placeholder="Transaction ID" readonly>
                            <i matSuffix mat-stroked-button color="primary">
                                <mat-icon>assignment_turned_in</mat-icon>
                            </i>
                        </mat-form-field>

                    </div>
                    <div fxFlex="25" fxLayout="column" fxLayoutAlign="space-between">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input formControlName="OtherDisbursementDate" matInput placeholder="MM/DD/YYYY"
                                [matDatepicker]="OtherDisbursementDate">
                            <mat-datepicker-toggle matSuffix [for]="OtherDisbursementDate"></mat-datepicker-toggle>
                            <mat-datepicker #OtherDisbursementDate></mat-datepicker>
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
                        <mat-form-field>
                            <mat-label>Payable To</mat-label>
                            <input type="hidden" formControlName="PayToID">
                            <input type="hidden" formControlName="PayToTypeID">
                            <input formControlName="PayTo" matInput placeholder="Payable To" readonly>
                            <a matSuffix mat-stroked-button color="primary" (click)="onSelectDeliveredTo()"
                                title="Payable To">
                                <mat-icon>person</mat-icon>
                            </a>
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
                    <div fxFlex="15" fxLayout="column" fxLayoutAlign="center">
                        <mat-form-field>
                            <mat-label>Check Number</mat-label>
                            <input formControlName="CheckNo" matInput placeholder="Check Number">
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="15" fxLayout="column" fxLayoutAlign="center">
                        <mat-form-field>
                            <mat-label>AVP Ref. #</mat-label>
                            <input formControlName="Reference" matInput placeholder="AVP Ref. #">
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="70" fxLayout="column" fxLayoutAlign="center">
                        <mat-form-field>
                            <mat-label>Remarks</mat-label>
                            <textarea rows="1" formControlName="Remarks" matInput
                                placeholder="Ex. Enter your remarks here...."></textarea>
                            <mat-error>This field is mandatory.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="pt-20"></div>
                <!-- order items table -->
                <div>
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-between">Account Title</div>
                            <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">Ref. #</div>
                            <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">SI / RR</div>
                            <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">Cost Center</div>
                            <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">Debit</div>
                            <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">Credit</div>
                            <div fxFlex="5" fxLayout="column" fxLayoutAlign="space-between end">
                                <a mat-raised-button color="primary" (click)="AddorEditOrderItem()">
                                    <mat-icon>add</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div fxLayoutAlign="center" *ngIf="service.formOD.get('items')['length'] == 0"
                        [class.text-danger]="service.formOD.get('items')['length']==0">
                        <div fxLayout="column">
                            <i>No details for this transaction.</i>
                        </div>
                    </div>
                    <div class="item-list">
                        <div fxLayout="column" fxLayoutAlign="space-between" formArrayName="items"
                            *ngFor="let item of service.formOD.get('items')['controls']; let i=index;">
                            <div [formGroupName]="i">

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input type="hidden" formControlName="AccountTitleID">
                                            <input matInput formControlName="AccountTitle" readonly
                                                (click)="onSelectAccountTitle(item, i)">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input matInput formControlName="ReferenceNo"
                                                (click)="onSelectReferenceNo(item)" readonly>
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input matInput formControlName="SIRR">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input type="hidden" formControlName="CostUnitID">
                                            <input type="hidden" formControlName="EmployeeID">
                                            <input type="hidden" formControlName="AssignCCEID">
                                            <input type="hidden" formControlName="CostCenterID">
                                            <input matInput formControlName="CostUnit"
                                                (click)="onSelectCostCenter(item)" readonly>
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input matInput formControlName="Debit" id="Debit{{i}}"
                                                (keyup)="updateTotal(item)" type="number">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between">
                                        <mat-form-field>
                                            <input matInput formControlName="Credit" id="Credit{{i}}"
                                                (keyup)="updateTotal(item)" type="number">
                                            <mat-error>This field is mandatory.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="5" fxLayout="row" fxLayoutAlign="center center">
                                        <a mat-icon-button color="warn" (click)="ondeleteOrderItem(item,i)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-20"></div>

                <div fxLayout="row wrap" fxflex="100" fxLayoutAlign="space-between">
                    <div fxFlex="80" fxLayout="column" fxLayoutAlign="space-between">
                    </div>
                    <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end">
                            <mat-form-field>
                                <mat-label>Debit</mat-label>
                                <input formControlName="Debit" matInput placeholder="Debit" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end">
                            <mat-form-field>
                                <mat-label>Credit</mat-label>
                                <input formControlName="Credit" matInput placeholder="Credit" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-end">
                <button type="submit" color="primary" mat-raised-button
                    *ngIf="globalService.Save && service.formOD.get('Status').value == '-1'"
                    [disabled]="service.formOD.invalid || service.formOD.get('items')['length']==0">
                    <mat-icon>storage</mat-icon> Submit
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>