<div class="container">
    <mat-toolbar>
        <span>{{service.formCostCenter.controls['CostCenterID'].value?"Modify Cost Center":"New Cost Center"}}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <form [formGroup]="service.formCostCenter" autocomplete="off" (submit)="onSubmit(service.formCostCenter)"
        mat-dialog-content>
        <input type="hidden" formControlName="CostCenterID">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="center">
                <mat-form-field>
                    <input formControlName="CostCenter" matInput placeholder="Cost Center">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </div>
        
        <div class="pt-10" fxLayoutGap="50px">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="service.formCostCenter.invalid">Submit</button>
        </div>

    </form>
</div>