<div class="container">
    <mat-toolbar>
        <span>{{service.formEntryType.controls['EntryTypeID'].value?"Modify Entry Type":"New Entry Type"}}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <form [formGroup]="service.formEntryType" autocomplete="off" (submit)="onSubmit(service.formEntryType)"
        mat-dialog-content>
        <input type="hidden" formControlName="EntryTypeID">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <input formControlName="Description" matInput placeholder="Description">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="pt-10" fxLayoutGap="50px">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="service.formEntryType.invalid">Submit</button>
        </div>

    </form>
</div>