<div class="container">
    <mat-toolbar>
        <span>{{serviceWarehouse.formWarehouse.controls['WareHouseID'].value?"Modify Warehouse":"New Warehouse"}}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <a class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <form [formGroup]="serviceWarehouse.formWarehouse" (submit)="onSubmit(serviceWarehouse.formWarehouse)" mat-dialog-content>
        <input type="hidden" formControlName="WareHouseID">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div fxFlex="90" fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <input formControlName="Code" matInput placeholder="Warehouse Code">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="10" fxLayout="column" fxLayoutAlign="center">
                <mat-checkbox formControlName="Active">Active</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign>
            <mat-form-field>
                <input formControlName="WareHouse" matInput placeholder="Warehouse Name *">
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign>
            <mat-form-field>
                <input formControlName="Address" matInput placeholder="Address *">
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
        </div>

        <div class="pt-10" fxLayoutGap="10px">
            <button mat-raised-button color="primary" type="submit" [disabled]="serviceWarehouse.formWarehouse.invalid">Submit</button>
            <a mat-raised-button color="warn" (click)="onClear()">Clear</a>
        </div>
    </form>
</div>