<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
    <div fxFlex="10" fxLayout="column">
        <button mat-raised-button (click)="onAdd()">
            <mat-icon>add</mat-icon>Add New
        </button>
    </div>
    <div fxFlex="1"></div>
    <div fxFlex="88" fxLayout="column">
        <mat-form-field floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Account Code</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Code}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="AccountTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Account Title</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.AccountTitle}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon color="primary" *ngIf="element.Active"> check </mat-icon>
                <mat-icon color="warn" *ngIf="!element.Active"> clear </mat-icon>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row.AccountTitleID)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.AccountTitleID)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="3">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="3">
                No data.
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>