<div class="container">
    <mat-toolbar>
        <span>{{service.formCostMethod.controls['CostMethodID'].value?"Modify Cost Method":"New Cost Method"}}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <form [formGroup]="service.formCostMethod" autocomplete="off" (submit)="onSubmit(service.formCostMethod)"
        mat-dialog-content>
        <input type="hidden" formControlName="CostMethodID">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <input formControlName="CostMethod" matInput placeholder="Cost Method">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="pt-10" fxLayoutGap="50px">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="service.formCostMethod.invalid">Submit</button>
        </div>

    </form>
</div>