<div class="container">
    <mat-toolbar>
        <span>{{service.formUOM.controls['UOMID'].value?"Modify Unit of Measurement":"New Unit of Measurement"}}</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <form [formGroup]="service.formUOM" autocomplete="off" (submit)="onSubmit(service.formUOM)"
        mat-dialog-content>
        <input type="hidden" formControlName="UOMID">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <input formControlName="Code" matInput placeholder="Code">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="70" fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                    <input formControlName="UOMDescription" matInput placeholder="UOMDescription">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="pt-10" fxLayoutGap="50px">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="service.formUOM.invalid">Submit</button>
        </div>

    </form>
</div>